{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col"></div>
  <div class="col shadow rounded p-4 m-5">
    <form action="login" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      {% for message in messages %}
      <div class="form-text text-danger">{{ message }}</div>
      {% endfor %}
      <div class="mt-2">
        Don't have an account? <a href="register">Register</a>
      </div>
    </form>
  </div>
  <div class="col"></div>
</div>
{% endblock content %}
