{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col"></div>
  <div class="col shadow rounded p-4 m-5">
    <form action="register" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          aria-describedby="emailError"
        />
        {% for message in messages %}
        <div id="emailError" class="form-text text-danger">{{ message }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <div class="mt-2">Already have an account? <a href="login">Login</a></div>
    </form>
  </div>
  <div class="col"></div>
</div>
{% endblock content %}
